extends ../layouts/_main

block content
    .container.m-3
        .mb-3
        label.form-label(for="exampleFormControlInput1") Email address
        input#exampleFormControlInput1.form-control(
            placeholder="name@example.com" 
            type="email"
            )
        .mb-3
        label.form-label(for="exampleFormControlTextarea1") Write your Blog
        textarea#exampleFormControlTextarea1.form-control(rows="3")